<div class="row">
  <div class="col s3">
    <%= render partial: "commons/profile", locals: { user: current_user } %>
    <%= render "commons/collection" %>
  </div>
  
  <div class="col s9">
    <br>
    <div class="row">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s3"><%= link_to "下書き一覧", "#drafts" %></li>
          <li class="tab col s3"><%= link_to "投稿記事一覧", "#release" %></li>
        </ul>
      </div>
      <div id="drafts" class="col s12"><%= render partial: "commons/articles_list", locals: { posts: @posts_drafts } %></div>
      <div id="release" class="col s12"><%= render partial: "commons/articles_list", locals: { posts: @posts_releas } %></div>
    </div>
    
    
    </ul>
  </div>
</div>


