<div class="row">
  <%= render "commons/scrollspy" %>
  <div class="col s12 m9">
    
    <h4><span class="blue-text text-darken-2">プロフィール編集</span></h4>
    <%= form_for(current_user, url: user_registration_path, html: { method: :put }) do |f| %>
    
      <div class="form-group">
        <%= f.label "ユーザー名" %>
        <%= f.text_field :name, autofocus: true, class: 'form-control validate' %>
      </div>
      
      
        
      <div class="actions">
        <%= f.submit "変更する" ,class: "btn white-text"%>
      </div>
   <% end %>
  </div>
</div>