<div class="row">
  <div class="col s3">
    <%= render partial: "commons/profile", locals: { user: @user } %>
    <% if user_signed_in? && @user.id==current_user.id %>
      <%= render "commons/collection" %>
    <% end %>
  </div>
  
  <div class="col s9">
    <%= render "commons/tabs" %>
    <ul class="collection">
      
      <% @user.posts.each do |post| %>
        <li class="collection-item avatar">
          <%= link_to image_tag("#{post.user.image}", class: "circle responsive-img"), "/users/#{post.user.id}" %>
          <span class="title">
            <%= link_to(post.title, "/posts/#{post.id}", class: "black-text") %>
          </span>
          <p>
            <%= link_to post.user.name, "/users/#{post.user.id}" %>
            <%= post.updated_at.strftime("%Y/%m/%d") %>
          </p>
          <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
        </li>
      <% end %>
      
    </ul>
  </div>
</div>


