<ul class="collection">
  <% posts.each do |post| %>
    <li class="collection-item avatar">
      
      <%= link_to image_tag("#{post.user.image}", class: "circle responsive-img"), "/users/#{post.user.id}" %>
      <span class="title"><%= link_to(post.title, "/posts/#{post.id}", class: "black-text truncate") %></span>
      
      <p class="grey-text lighten-3">
        <%= link_to post.user.name, "/users/#{post.user.id}" %>
        <%= post.updated_at.strftime("%Y/%m/%d") %><br>
        <i class="tiny material-icons">thumb_up</i> 
        <%= post.likes.count %>
      </p>
      
    </li>
  <% end %>
</ul>

<%= paginate posts ,class: "pagination"%>

  
