<div class="row article_frame">
  <%= form_for post, html: { id: "ajax-form" } do |f| %>

    <div class="form-group">
      <%= f.label :title, "投稿タイトル" %>
      <%= f.text_field :title, autofocus: true, class: "form-control" %>
    </div>
    
    <div class="form-group">
      <%= f.label :content, "投稿内容" %>
      <%= f.text_area :content, id: "ajax-form-tmp", class: "form-control textlines" %>
    </div>
    
    <a class="waves-effect waves-light btn", id="article_save">保存する</a>
    <%= link_to "プレビュー", "/posts/#{post.id}", class: "btn", id: "article_save" %>
    <%= link_to "投稿する", "/posts/#{post.id}/post_up", class: "btn right", method: :post %>
    
  <% end %>
</div>