<div class="row">
  <div class="card-panel white">
    <div class="chip">
      <%= image_tag '/default.png' %>
      <% if current_user.name==nil %>
        <%= current_user.email %>
      <% else %>
        <%= current_user.name %>
      <% end %>
    </div>
    <%= @post.created_at %>
    <br>
   
    <h4><%= @post.title %></h4>
    <%= @post.content %>
  
  </div>
</div>
 <%= link_to("編集", "/users/#{@user.id}/edit") %>