<div class="row">
  <div class="col s1.5 center-align"><br>
    <p class="btn white blue-text"><i class="material-icons left">thumb_up</i><%= @post.likes.count %></p><br>
    <%= render partial: "evaluation_button", locals: { posts: @post } %>
  </div>
  
  <div class="col s10">
    <div class="article_frame">
      <div class="card-panel white">
        <div class="chip">
          <%= image_tag "#{@post.user.image}" %>
          <%= link_to @post.user.name, "/users/#{@post.user.id}" %>
        </div>
        <%= @post.updated_at.strftime("%Y年%m月%d日") %><br>
        <%= render partial: "commons/tag_list", locals: { post: @post } %>
        
        <h3><%= @post.title %></h3><hr>
        <%= markdown(@post.content).html_safe %>
      </div>
    </div>
    <% if user_signed_in? && @user.id==current_user.id %>
      <%= link_to "編集", edit_post_path, class: "btn" %>
      <button data-target="modal1" class="btn modal-trigger red lighten-2">削除</button>
      <%= link_to "投稿", "/posts/#{@post.id}/post_up", class: "btn right", method: :post %>
    <% end %>
    
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4><span class="red-text text-darken-2">本当に削除しますか？</span></h4>
        <p>削除すると記事内容、いいね数などが全て削除されます。この処理は取り消しできません。</p>
      </div>
      <div class="modal-footer">
        <%= button_to "はい", @post, class:"waves-light btn red lighten-2", method: :delete  %>
      </div>
    </div>
  
    <!--コメント機能-->
    <div id="comments-area">
      <!--コメント一覧-->
      <h5><i class="material-icons">question_answer</i> コメント一覧</h5><hr>
      <% @comments.each do |c| %>
        <div class="chat">
          <div class="faceicon">
            <%= image_tag "#{c.user.image}" %><br>
            <%= link_to c.user.name, "/users/#{c.user.id}" %>
          </div>
          <div class="chatting">
            <div class="says">
              <%= c.content %>
            </div>
          </div>
          <div class="right">
            <%= c.updated_at.strftime("%Y/%m/%d %H:%M") %><br>
            <% if user_signed_in? && c.user.id == current_user.id %>
              <%=link_to "削除", post_comment_path(c.post.id, c.id), class:"red-text lighten-2", method: :delete %>
            <% end %>
          </div>
        </div>
      <% end %>
      
      <!--コメント投稿-->
      <% if user_signed_in? %>
        <%= form_for [@post, @comment] do |f| %>
          <div class="card blue lighten-5">
            <div class="card-content white-text">
              <span class="card-title black-text">
                <i class="material-icons">insert_comment</i> コメント投稿
              </span>
              <%= f.text_area :content, class:"grey lighten-5" %>
            </div>
            <div class="card-action">
              <%= f.submit 'コメントする', class: "btn right" %>
            </div>
          </div>
        <% end %>  
      <% end %>
    </div>
    
  </div>
</div>

